<div class="page-header">
  <h1>Edit a meetup</h1>
</div>

<%= render partial: 'form', locals: { button_text: "Edit Meetup", method: :patch } %>

<%= link_to "Back to #{@meetup.name}", meetup_path(@meetup), class: "btn btn-default footer" %>
