<div class="page-header">
  <h1>Enter a new meetup</h1>
</div>

<%= render partial: 'form', locals: { button_text: "New Meetup", method: :post } %>

<%= link_to "Back to Meetups", meetups_path, class: "btn btn-default footer" %>
