<header id="title">
  <h1>My Board Game Diary!</h1>
</header>

<div class="home_button" id="meetups">
  <h3><%= link_to "Manage Meetups", meetups_path %></h3>
</div>

<div class="home_button" id="players">
  <h3><%= link_to "Manage Players", players_path %></h3>
</div>

<div class="home_button" id="games">
  <h3><%= link_to "Manage Games", games_path %></h3>
</div>
