<header id="title">
  <h1>My Board Game Diary!</h1>
</header>

<div class="home_button" id="meetups">
  <%= link_to "Meetups", meetups_path %>
</div>

<div class="home_button" id="players">
  <%= link_to "Players", players_path %>
</div>

<div class="home_button" id="games">
  <%= link_to "Games", games_path %>
</div>
