<h1>Welcome to My Board Game Diary!</h1>
<h3><%= link_to "Manage Meetups", meetups_path %></h3>
<h3><%= link_to "Manage Players", players_path %></h3>
<h3><%= link_to "Manage Games", games_path %></h3>
