<div class="page-header">
  <h1>Enter a new event</h1>
</div>

<%= render partial: 'form', locals: { button_text: "New Event", method: :post } %>

<%= link_to "Back to the Meetup", meetup_path(params[:meetup_id]), class: "btn btn-default footer" %>
