<header id="title">
  <h1>Enter a new event</h1>
</header>

<%= render partial: 'form', locals: { :button_text => "New Event" } %>

<footer id="footer">
  <%= link_to "Back to the Meetup", meetup_path(params[:meetup_id]) %>
</footer>
