<header id="title">
  <h1>Edit a game</h1>
</header>

<%= render partial: 'form', locals: { button_text: "Edit Game", method: :patch } %>

<%= link_to "Back to #{@game.name}", game_path(@game), class: "btn btn-default" %>
