<div class="page-header">
  <h1>Edit a player</h1>
</div>

<%= render partial: 'form', locals: { button_text: "Edit Player", method: :patch } %>

<%= link_to "Back to #{@player.name}", player_path(@player), class: "btn btn-default footer" %>
