<h1>Players central</h1>

<h3><%= link_to "Add a new player", new_player_path %></h3>

<h4>Click each player to see details or to edit/delete</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to "#{player.name}", player_path(player) %></td>
        <td><%= player.city %>, <%= player.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
