<div class="page-header">
  <h1>Enter a new player</h1>
</div>

<%= render partial: 'form', locals: { button_text: "New Player", method: :post } %>

<%= link_to "Back to Players", players_path, class: "btn btn-default footer" %>
