/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: LightSteelBlue;
  margin: auto;
  width: 960px;
}

#title {
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
}

.home_button a {
  font-family: 'Capriola', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: auto;
  height: auto;
  width: 300px;
  border-radius: 25px;
  border: 2px dotted #ECE3D1;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
  display: block;
}

.do_button {
  background-color: #0E0D37;
  font-family: 'Capriola', sans-serif;
  font-size: 18px;
  text-align: center;
  height: auto;
  width: 200px;
  border-radius: 25px;
  border: 2px dotted #ECE3D1;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
  display: block;
}

#meetups a {
  background-color: #13156C;
}

#players a {
  background-color: #471657;
}

#games a {
  background-color: #921C59;
}

#new_link {
  font-family: 'Capriola', sans-serif;
}

.information {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
}

.information a {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  color: #13156C;
}

.information h2 {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 35px;
}

.information h2 a {
  font-size: 35px;
  color: #921C59;
}

.information table {
  padding-top: 25px;
}

#event_info {
  padding-top: 0px;
}

.information table tr td {
  padding-right: 50px;
}

a.remove_link {
  color: #13156C;
}

a.event_link {
  color: #13156C;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
}

#footer {
  padding-top: 50px;
}

.form legend {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
}

.form label {
  width: 100px;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  display: inline-block;
  margin-right: 10px;
}

#games_form label {
  width: 310px;
}

#games_form textarea {
  margin-top: 10px;
}

#games_form input[type="submit"] {
  margin-left: 320px;
}

#events_form label {
  font-size: 20px;
  width: 250px;
}

#events_form .collection_boxes label {
  width: auto;
}

#events_form input[type="submit"] {
  margin-left: 260px;
}

#add_players_form {
  margin-top: 50px;
}

#add_players_form label {
  width: 150px;
}

#add_players_form select {
  font-size: 25px;
}

#no_more_players {
  padding-top: 25px;
}

.form_text_area * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.form input[type="submit"] {
  margin-left: 110px;
  margin-top: 10px;
  font-size: 25px;
}

#footer a {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  color: #13156C;
  padding-bottom: 100px;
}
