<!DOCTYPE html>
<html>
<head>
  <title>My Board Game Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Nunito:400,300,700|Ruda:400,700,900' rel='stylesheet' type='text/css'><body>

<%= yield %>

</body>
</html>
